# Análise exploratória de dados

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import os

## 1. Descrição dos dados

### 1.1 Ajustando a nomenclatura da linha 01 da tabela

In [8]:
categories = ['ID','Limit_Bal','Sex','Education','Marriage','Age','Pay_0','Pay_2','Pay_3','Pay_4',
              'Pay_5', 'Pay_6', 'Bill_Amt1', 'Bill_Amt2', 'Bill_Amt3', 'Bill_Amt4', 'Bill_Amt5', 'Bill_Amt6',
              'Pay_Amt1','Pay_Amt2','Pay_Amt3','Pay_Amt4','Pay_Amt5','Pay_Amt6','default payment next month']

### 1.2 Carregando os dados

In [9]:
df = pd.read_csv('../data/raw/default_of_credit_card_clients-Data.csv', header=None, names = categories)

df = df.iloc[2:,] #Excluindo os indices xi da tabela para ficar melhor apresentável
df.reset_index(drop=True, inplace=True) # Redefinindo os índices

pd.set_option('display.max_columns', None)
df.head()

,ID,Limit_Bal,Sex,Education,Marriage,Age,Pay_0,Pay_2,Pay_3,Pay_4,Pay_5,Pay_6,Bill_Amt1,Bill_Amt2,Bill_Amt3,Bill_Amt4,Bill_Amt5,Bill_Amt6,Pay_Amt1,Pay_Amt2,Pay_Amt3,Pay_Amt4,Pay_Amt5,Pay_Amt6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,-2,-2,3913,3102,689,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,0,2,2682,1725,2682,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,0,0,29239,14027,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,0,0,46990,48233,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,0,0,8617,5670,35835,20940,19146,19131,2000,36681,10000,9000,689,679,0

### 1.3 Dicionário de Dados

In [15]:
df_dict = pd.DataFrame({
        "Categorias" : ['ID','Limit_Bal','Sex','Education','Marriage','Age','Pay_0','Pay_2','Pay_3','Pay_4',
                        'Pay_5', 'Pay_6', 'Bill_Amt1', 'Bill_Amt2', 'Bill_Amt3', 'Bill_Amt4', 'Bill_Amt5', 'Bill_Amt6',
                        'Pay_Amt1','Pay_Amt2','Pay_Amt3','Pay_Amt4','Pay_Amt5','Pay_Amt6','default payment next month'],
        "Tradução" : ['ID','Limite bancário','Sexo','Educação','Casamento','Idade',
                      'Pagamento (0)','Pagamento (2)','Pagamento (3)','Pagamento (4)', 'Pagamento (5)', 'Pagamento (6)', 
                      'Quantia da conta (1)', 'Quantia da conta (2)', 'Quantia da conta (3)', 'Quantia da conta (4)', 
                      'Quantia da conta (5)', 'Quantia da conta (6)', 'Quantia paga (1)','Quantia paga (2)','Quantia paga (3)',
                      'Quantia paga (4)','Quantia paga (5)','Quantia paga (6)','Pagamento no próximo mês'],
        "Descrição": ['Número de identificação', 'Quantia de crédito que foi disponibilizada', 
                      'Gênero sexual (1 = Masculino, 2 = Feminino)',
                      'Nível educacional (1 = pós-graduação, 2 = universidade, 3 = ensino médio, 4 = outro)',
                      'Estado civil (1 = casado, 2 = solteiro, 3 = outro)',
                      'Idade do cliente (em anos)',
                      'Status do pagamento em Setembro/2005 (-2 = fatura total paga, -1 = pagamento total em dia, 0 = pagamento parcial, 1 = atrasado em 1 mês, 2 = atrasado em 2 mês, 3 = atrasado em 3 mês, 4 = atrasado em 4 mês, 5 = atrasado em 5 mês, 6 = atrasado em 6 mês, 7 = atrasado em 7 mês, 8 = atrasado em 8 mês, 9 = atrasado em 9 meses ou mais)',
                      'Status do pagamento em Agosto/2005 (-2 = fatura total paga, -1 = pagamento total em dia, 0 = pagamento parcial, 1 = atrasado em 1 mês, 2 = atrasado em 2 mês, 3 = atrasado em 3 mês, 4 = atrasado em 4 mês, 5 = atrasado em 5 mês, 6 = atrasado em 6 mês, 7 = atrasado em 7 mês, 8 = atrasado em 8 mês, 9 = atrasado em 9 meses ou mais)',
                      'Status do pagamento em Julho/2005 (-2 = fatura total paga, -1 = pagamento total em dia, 0 = pagamento parcial, 1 = atrasado em 1 mês, 2 = atrasado em 2 mês, 3 = atrasado em 3 mês, 4 = atrasado em 4 mês, 5 = atrasado em 5 mês, 6 = atrasado em 6 mês, 7 = atrasado em 7 mês, 8 = atrasado em 8 mês, 9 = atrasado em 9 meses ou mais)',
                      'Status do pagamento em Junho/2005 (-2 = fatura total paga, -1 = pagamento total em dia, 0 = pagamento parcial, 1 = atrasado em 1 mês, 2 = atrasado em 2 mês, 3 = atrasado em 3 mês, 4 = atrasado em 4 mês, 5 = atrasado em 5 mês, 6 = atrasado em 6 mês, 7 = atrasado em 7 mês, 8 = atrasado em 8 mês, 9 = atrasado em 9 meses ou mais)',
                      'Status do pagamento em Maio/2005 (-2 = fatura total paga, -1 = pagamento total em dia, 0 = pagamento parcial, 1 = atrasado em 1 mês, 2 = atrasado em 2 mês, 3 = atrasado em 3 mês, 4 = atrasado em 4 mês, 5 = atrasado em 5 mês, 6 = atrasado em 6 mês, 7 = atrasado em 7 mês, 8 = atrasado em 8 mês, 9 = atrasado em 9 meses ou mais)',
                      'Status do pagamento em Abril/2005 (-2 = fatura total paga, -1 = pagamento total em dia, 0 = pagamento parcial, 1 = atrasado em 1 mês, 2 = atrasado em 2 mês, 3 = atrasado em 3 mês, 4 = atrasado em 4 mês, 5 = atrasado em 5 mês, 6 = atrasado em 6 mês, 7 = atrasado em 7 mês, 8 = atrasado em 8 mês, 9 = atrasado em 9 meses ou mais)',
                      'Saldo em Setembro/2005',
                      'Saldo em Agosto/2005',
                      'Saldo em Julho/2005',
                      'Saldo em Junho/2005',
                      'Saldo em Maio/2005',
                      'Saldo em Abril/2005',
                      'Quantia paga em Setembro/2005',
                      'Quantia paga em Agosto/2005',
                      'Quantia paga em Julho/2005',
                      'Quantia paga em Junho/2005',
                      'Quantia paga em Maio/2005',
                      'Quantia paga em Abril/2005',
                      'O cliente irá pagar no mês seguinte? (1 = sim, 2 = não)'],
        "Tipo": ['quantitativa', 'quantitativa', 'qualitativa', 'qualitativa', 'qualitativa', 'quantitativa', 
                 'qualitativa', 'qualitativa', 'qualitativa', 'qualitativa', 'qualitativa', 'qualitativa', 
                 'quantitativa','quantitativa','quantitativa','quantitativa','quantitativa','quantitativa',
                 'quantitativa', 'quantitativa', 'quantitativa', 'quantitativa', 'quantitativa', 'quantitativa',
                 'qualitativa'],
        "Subtipo": ['discreta', 'contínua', 'nominal', 'nominal', 'nominal', 'discreta', 'ordinal', 'ordinal',
                    'ordinal', 'ordinal', 'ordinal', 'ordinal', 'contínua', 'contínua', 'contínua', 'contínua',
                    'contínua', 'contínua', 'contínua', 'contínua', 'contínua', 'contínua', 'contínua', 'contínua',
                    'nominal'],
})

In [20]:
with pd.option_context('display.max_colwidth',80): display(df_dict)

#Salvando o arquivo dicionário
#df_dict.to_csv('../data/external/dicionario.csv', index=False, encoding='utf-8')

,Categorias,Tradução,Descrição,Tipo,Subtipo
0,ID,ID,Número de identificação,quantitativa,discreta
1,Limit_Bal,Limite bancário,Quantia de crédito que foi disponibilizada,quantitativa,contínua
2,Sex,Sexo,"Gênero sexual (1 = Masculino, 2 = Feminino)",qualitativa,nominal
3,Education,Educação,"Nível educacional (1 = pós-graduação, 2 = universidade, 3 = ensino médio, 4 ...",qualitativa,nominal
4,Marriage,Casamento,"Estado civil (1 = casado, 2 = solteiro, 3 = outro)",qualitativa,nominal
5,Age,Idade,Idade do cliente (em anos),quantitativa,discreta
6,Pay_0,Pagamento (0),"Status do pagamento em Setembro/2005 (-2 = fatura total paga, -1 = pagamento...",qualitativa,ordinal
7,Pay_2,Pagamento (2),"Status do pagamento em Agosto/2005 (-2 = fatura total paga, -1 = pagamento t...",qualitativa,ordinal
8,Pay_3,Pagamento (3),"Status do pagamento em Julho/2005 (-2 = fatura total paga, -1 = pagamento to...",qualitativa,ordinal
9,Pay_4,Pagamento (4),"Status do pagamento em Junho/2005 (-2 = fatura total paga, -1 = pagamento to...",qualitativa,ordinal
10,Pay_5,Pagamento (5),"Status do pagamento em Maio/2005 (-2 = fatura total paga, -1 = pagamento tot...",qualitativa,ordinal
11,Pay_6,Pagamento (6),"Status do pagamento em Abril/2005 (-2 = fatura total paga, -1 = pagamento to...",qualitativa,ordinal
12,Bill_Amt1,Quantia da conta (1),Saldo em Setembro/2005,quantitativa,contínua
13,Bill_Amt2,Quantia da conta (2),Saldo em Agosto/2005,quantitativa,contínua
14,Bill_Amt3,Quantia da conta (3),Saldo em Julho/2005,quantitativa,contínua
15,Bill_Amt4,Quantia da conta (4),Saldo em Junho/2005,quantitativa,contínua
16,Bill_Amt5,Quantia da conta (5),Saldo em Maio/2005,quantitativa,contínua
17,Bill_Amt6,Quantia da conta (6),Saldo em Abril/2005,quantitativa,contínua
18,Pay_Amt1,Quantia paga (1),Quantia paga em Setembro/2005,quantitativa,contínua
19,Pay_Amt2,Quantia paga (2),Quantia paga em Agosto/2005,quantitativa,contínua
20,Pay_Amt3,Quantia paga (3),Quantia paga em Julho/2005,quantitativa,contínua
21,Pay_Amt4,Quantia paga (4),Quantia paga em Junho/2005,quantitativa,contínua
22,Pay_Amt5,Quantia paga (5),Quantia paga em Maio/2005,quantitativa,contínua
23,Pay_Amt6,Quantia paga (6),Quantia paga em Abril/2005,quantitativa,contínua
24,default payment next month,Pagamento no próximo mês,"O cliente irá pagar no mês seguinte? (1 = sim, 2 = não)",qualitativa,nominal

### 1.4 Informações sobre a quantidade de instâncias, variáveis e seus tipos, quantidade de valores faltantes

#### 1.4.1. Existe valor faltante?

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  object
 1   Limit_Bal                   30000 non-null  object
 2   Sex                         30000 non-null  object
 3   Education                   30000 non-null  object
 4   Marriage                    30000 non-null  object
 5   Age                         30000 non-null  object
 6   Pay_0                       30000 non-null  object
 7   Pay_2                       30000 non-null  object
 8   Pay_3                       30000 non-null  object
 9   Pay_4                       30000 non-null  object
 10  Pay_5                       30000 non-null  object
 11  Pay_6                       30000 non-null  object
 12  Bill_Amt1                   30000 non-null  object
 13  Bill_Amt2                   30000 non-null  object
 14  Bill_Amt3                   30000 non-null  object
 15  Bill_Amt4                   30000 non-null  object
 16  Bill_Amt5                   30000 non-null  object
 17  Bill_Amt6                   30000 non-null  object
 18  Pay_Amt1                    30000 non-null  object
 19  Pay_Amt2                    30000 non-null  object
 20  Pay_Amt3                    30000 non-null  object
 21  Pay_Amt4                    30000 non-null  object
 22  Pay_Amt5                    30000 non-null  object
 23  Pay_Amt6                    30000 non-null  object
 24  default payment next month  30000 non-null  object
dtypes: object(25)
memory usage: 5.7+ MB

In [22]:
df.isnull().sum()

ID                            0
Limit_Bal                     0
Sex                           0
Education                     0
Marriage                      0
Age                           0
Pay_0                         0
Pay_2                         0
Pay_3                         0
Pay_4                         0
Pay_5                         0
Pay_6                         0
Bill_Amt1                     0
Bill_Amt2                     0
Bill_Amt3                     0
Bill_Amt4                     0
Bill_Amt5                     0
Bill_Amt6                     0
Pay_Amt1                      0
Pay_Amt2                      0
Pay_Amt3                      0
Pay_Amt4                      0
Pay_Amt5                      0
Pay_Amt6                      0
default payment next month    0
dtype: int64

Como podemos observar, o dataframe não possui nenhum dado faltante. Dessa forma não é necessário tratamento de dados faltantes no conjunto de dados.

## 2. Perguntas de partida e hipóteses

A partir desses dados devemos, inicialmente, reorganizá-los, em vista a prepará-los para análise, bem como propor algumas hipóteses a partir desse levantamento inicial. Em cima de tais questionamentos iremos estudar e relacionar as diferentes categorias no DataFrame, com o objetivo de obter conclusões que satisfaçam o objetivo principal do trabalho.\
\
Problemáticas:\
    - **Hipótese 01**: A escolaridade teria relação com o risco de inadimplência?\
    - **Hipótese 02**: O limite de crédito fornecido teria relação com o risco de inadimplência?\
    - **Hipótese 03**: Como o status de pagamento e a quantia paga nos meses computados se relacionam com      o risco de inadimplência.

## 3. Insights